# OS/editor
.DS_Store
Thumbs.db
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Data & outputs
01_data/*
03_analysis/*
04_results/*
99_logs/*
98_test_run/*
!98_test_run/04_scripts/
!98_test_run/03_results/

# Keep directory structure
!01_data/.gitkeep
!03_analysis/.gitkeep
!04_results/.gitkeep
!99_logs/.gitkeep
!*/.gitkeep
!**/.gitkeep
!98_test_run/01_data/.gitkeep
!98_test_run/02_analysis/.gitkeep
!98_test_run/99_logs/.gitkeep
!98_test_run/98_refs/.gitkeep

# QC outputs
**/fastqc/
**/multiqc/

# Temporary files
*.tmp
*.temp

# Sequencing files
*.fastq
*.fq
*.fastq.gz
*.fq.gz

# Logs
*.log
slurm-*.out
*.err

# Text Files
*.txt
*.csv
*.tab

# Intermediate files
*.bam
*.sam
